player-connection-mode=Listen
player-connection-guid=3757654451
player-connection-debug=0
player-connection-project-name=GradientNav
player-connection-ip=169.231.73.134
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=ba3439cd53d04f0185369157d6ba68b4
