player-connection-mode=Listen
player-connection-guid=743253796
player-connection-debug=0
player-connection-project-name=GradientNav
player-connection-ip=169.231.73.134
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=abad7d1cb08f4eacb9685b7b86608676
