player-connection-mode=Listen
player-connection-guid=1712182895
player-connection-debug=0
player-connection-project-name=GradientNav
player-connection-ip=50.30.175.184
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=ad77355f830c442e81284096a3fd8b6e
